.order {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gifStyle {
  width: 100%;
  height: 500px;
}

.orderBtn {
  width: 250px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
